variables:
- name: Version
  value: '1.2'

name: $(Version).$(BuildID)

trigger:
- master

stages:
- stage: 'build'
  displayName: 'build'
  jobs:
  - job: 'build'
    pool:
      vmImage: 'ubuntu-latest'
      demands:
      - npm
      - node.js
    variables:
      npm_config_cache: $(Pipeline.Workspace)/.npm
    steps:
      - task: NodeTool@0
        displayName: 'Use Node 16.x'
        inputs:
          versionSpec: 16.x

      - script: npm ci
        displayName: 'npm ci'

      - script: npm version --no-git-tag-version --commit-hooks false "$(Build.BuildNumber)"
        displayName: 'Set App Version'

      - task: gulp@1
        displayName: 'Update version in source files'
        inputs:
          targets: 'update-version'

      - script: npm test
        displayName: 'npm test'

      - task: gulp@1
        displayName: 'Bundle project'
        inputs:
          targets: bundle
          arguments: '--ship'

      - task: gulp@1
        displayName: 'Package Solution'
        inputs:
          targets: 'package-solution'
          arguments: '--ship'

      - task: CopyFiles@2
        displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
        inputs:
          Contents: |
            sharepoint/**/*.sppkg
          TargetFolder: '$(Build.ArtifactStagingDirectory)'

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifact: drop'

- stage: GitHubRelease
  pool:
    vmImage: 'windows-latest'
  jobs:
  - deployment: GitHubRelease
    environment: 'github'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'drop'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: |
                $versionFull = "$(Build.BuildNumber)"
                $version = $versionFull|%{[System.Version]$_}
                $versionShort = "$($version.Major).$($version.Minor)"
                Write-Host "##vso[task.setvariable variable=versionShort]$($versionShort)"

          - task: GitHubRelease@1
            inputs:
              gitHubConnection: 'github.com_nbelyh'
              repositoryName: '$(Build.Repository.Name)'
              action: 'edit'
              target: '$(Build.SourceVersion)'
              tag: '$(versionShort)'
              title: '$(Build.BuildNumber)'
              releaseNotesSource: 'inline'
              releaseNotesInline: 'TBD'
              assets: '$(System.ArtifactsDirectory)\drop\sharepoint\solution\*.sppkg'
              isPreRelease: true
              changeLogCompareToRelease: 'lastFullRelease'
              changeLogType: 'commitBased'
